@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 20, 5, 48; /* Set to RGB values for #140530 color */
  --background-start-rgb: 20, 5, 48; /* Set to RGB values for #140530 color */
  --background-end-rgb: 20, 5, 48; /* Set to RGB values for #140530 color */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  ) rgb(var(--background-start-rgb));
}
.navbar-bg {
  background-image: url("/images/bg-image.png");
  background-position: center;
  background-repeat: no-repeat;
}

